#background {
    position: absolute;
    width: 100%;
    /* transition: background-color 2s; */
    height: 100%;
    background-color: #DAF7A6;
    resize: both;
    overflow: hidden;
}

#imgback{

position: absolute;
width: 1900px;
height: 1300px;
z-index: 1;
background: url(galaxyrefitstarboard.png);
}

canvas {
    position: absolute;
}

#menuCircleAnim1 {
    border-radius: 50%;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    top: 90%;
    left: 90%;
    overflow: hidden;
    position: absolute;
    border: 2px dashed;
    background-color: green;
    animation: spin infinite;
    animation-duration: 5000ms;
}

#shppIcon1 {
    height: 10%;
    width: 10%;
    top: 2%;
    left: 40%;
    font-weight: bolder;
    font-size: 240%;
    line-height: 100%;
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#shppIcon2 {
    font-weight: bolder;
    height: 10%;
    width: 10%;
    top: 2%;
    left: 50%;
    font-size: 240%;
    line-height: 100%;
    position: absolute;
    text-align: center;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

#menuCircleAnim2 {
    border-radius: 50%;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    top: -12%;
    left: -12%;
    overflow: hidden;
    position: absolute;
    border: 2px dashed;
    background-color: green;
    animation: spin infinite;
    animation-duration: 5000ms;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#start {
    overflow: hidden;
    font-family: "Play";
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    resize: both;
    overflow: hidden;
    transition: all 4s; 
    color: rgba(0, 0, 0, 1);
}

#ButtonPlay {
    left: 15%;
    top: 20%;
    font-weight: bolder;
    font-family: 'Play';
    font-size: 240%;
    border-radius: 2%;
    margin: auto;
    width: 70%;
    line-height: 200%;
    text-align: center;
    height: 20%;
    color: black;
    z-index: inherit;
    position: absolute;
    transition: 0.5s; 
    background-color: rgb(173, 173, 173);
}

#ButtonGoBack {
    left: 15%;
    top: 60%;
    font-weight: bolder;
    font-family: 'Play';
    font-size: 240%;
    margin: auto;
    width: 70%;
    height: 20%;
    line-height: 200%;
    text-align: center;
    color: black;
    z-index: inherit;
     transition: 0.5s; 
    position: absolute;
    background-color: rgb(173, 173, 173);
}

#ButtonGoBack:hover,
#ButtonPlay:hover {
    background-color: palegreen;
}

#ButtonGoBack::before,
#ButtonPlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: inherit;
     transition: all 0.3s; 
}

#ButtonGoBack:hover::before,
#ButtonPlay:hover::before {
    background-color: palegreen;
    opacity: 0;
    transform: scale(1.3, 1.3);
}

#ButtonGoBack::after,
#ButtonPlay::after {
    content: '';
    position: absolute;
    border: 2px solid;
    border-color: rgb(108, 196, 108);
   /* transition: 0.5s;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: inherit;
    transform: scale(1.2, 1.2);
    opacity: 0
}

#ButtonGoBack:hover::after,
#ButtonPlay:hover::after {
    transform: scale(1, 1);
    opacity: 1;

}

html,
body {
    height: 100%;
    width: 100%;
}

#MenuBackground {
    z-index: 100500;
    left: 30%;
    overflow: hidden;
    top: 15%;
    border-style: solid;
    border-color: dimgrey;
    border-radius: 1%;
    border-width: 0.5%;
    width: 40%;
    padding-bottom: 40%;
    color: black;
    position: absolute;
    background-color: gray;
}

::-webkit-scrollbar {
    display: none;
}