#background {
    position: absolute;
    width: 100%;
    transition: background-color 0.5s ease-in-out;
    height: 100%;
    background-color: #DAF7A6;
    resize: both;
    overflow: hidden;
}
#background.day {
    background-color: #F8F8F8;
}
#background.day > #backgroundImage {
    opacity: 0.05;
    filter: invert(1);
}
#background.night {
    background-color: #3D3D3D;
}
#background.night > #backgroundImage {
    opacity: 0.05;
    filter: invert(0);
}
#background.night > #GameOverText,
#background.night > #GameOverShText {
    filter: invert(1);
}
/* @media (max-width: 800px) {
    #backgroundImage {
        transform: rotate(90deg);
    }
} */
@keyframes rotation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg)
    }
}
#backgroundImage {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    background-position: center;
    background-image: url(https://programming.org.ua/img/galaxyrefitstarboard.png); 
    opacity: 0.05;
    filter: invert(1);
    transition-property: filter, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#start {
    overflow: hidden;
    font-family: "Play";
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    resize: both;
    overflow: hidden;
    transition: all 4s; 
    color: rgba(0, 0, 0, 1);
}

html,
body {
    height: 100%;
    width: 100%;
}
#GameOverShScore {
    z-index: 1000;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    height: 100%;
    margin: auto;
    top: 5%;
    font-family: Arial;
    font-weight: bold;
    font-size: 4vw;
    line-height: 90%;
    resize: both;
    color: #3D3D3D;
}
#GameOverShText {
    margin:auto;
    position: absolute;
    width: 25vw;
    height: 4vh;
    left: 50vw;
    transform: translate(-25%);
    top: 34vh;
    font-family: Arial;
    font-weight: bold;
    font-size: 4vw;
    line-height: 5vh;
    resize: both;
    color: #3D3D3D;
}
#GameOverText {
    position: absolute;
    width: 25vw;
    height: 4vh;
    left: 37.5vw;
    top: 20vh;
    z-index: 1000;
    font-family: Arial;
    font-weight: bold;
    font-size: 4vw;
    line-height: 5vh;
    resize: both;
    color: #3D3D3D;


}
#MenuBackground {
    z-index: 2;
    left: 44%;
    overflow: hidden;
    top: 44%;
    border-style: solid;
    border-color: dimgrey;
    border-radius: 5%;
    border-width: 0.5%;
    width: 12%;
    padding-bottom: 12%;
    position: absolute;
    background-color: #3D3D3D;
}
#MenuBackground:hover {
    color: #2c2c2c
}
#restartSvg {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
}
#MenuBackground:hover > #restartSvg {
    animation: .3s ease-out 0.0s 1 rotation;
}
@media (max-width: 900px) {
    #backgroundImage {
        transform: rotate(90deg);
        width: 100vh;
    }
    #GameOverText {
        /* top: 60vw; */
    }
}
@keyframes changeColor {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}
::-webkit-scrollbar {
    display: none;
}
#addBackground {
    background-color: #FFD700;
    z-index: 1000;
    border-radius: 8%;
    position: absolute;
    width: 5vw;
    left: 52vw;
    top: 33vh;
    font-family: Arial;
    font-weight: bold;
    font-size: 4vw;
    line-height: 5vh;
    padding-bottom: 4%;
}
canvas {
    width: 100%;
    height: 100%;
}
